html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

img {
  margin-bottom: .75em;
  width: 75%;
  height: auto;
  border-radius: 50px;
  border: .25em solid #F8F9FA;
}

.background {
  padding: 1em;
  position: relative;
  text-align: center;
  overflow: scroll;
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #F8F9FA !important;
  text-align: center;
}

@media screen and (max-width: 625px) {
    .footer {
    display: list-item;
  }
}
